:root {
   --color-neutral-light:#d1e6d9;
   --color-neutral-medium:#89a192;
   --color-neutral-dark:#3c4f43;
}


body {
   background-color:#e8edea;
}

.button {
	background-color: var(--color-neutral-medium);
	border:none;
	color: var( --color-white);
	padding: 10px 16px;
	text-decoration: none;
	font-size: 0.8em;
	margin: 0.5em;
	margin-bottom: 2em;
	border-radius: 4px;
	
}
.button:hover {
	background-color: var(--color-neutral-light);
	color: var(--color-neutral-dark);
}

.bigbutton {
  background-color: var(--color-neutral-medium);
  border: none;
  color: var( --color-white);
  padding: 10px 64px;
  text-decoration: none;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 2em;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.bigbutton:hover {
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
}

.product{
	
    overflow:hidden;
    background-size: cover;
    background-position:center;
    background-attachment:scroll;
    background-repeat: none;
}
.card.top {
   width: 20vw;
   height: 40vh;
}
.smallcard {
	padding: 1em;
    font-size: 1em;

}
.card.middle {
  width: 50vw;
  height: 60vh;
}
.card.bottom {
   width: 15vw;
   height: 30vh;
}
.view-window1 {
   position:relative;
   overflow:hidden;
   background-size:cover;
   background-position:center;
   background-attachment:scroll;
   height:50vh;
   width: 100vw;
   margin-top: 4em;
   margin-left: auto;
   margin-right: auto;
}

p {
  font-size: 1.5em;
  color: var(--color-neutral-dark);
  text-align: center;
  font-family: var( --font-serif);

}

.containerbutton {
   max-width:1200px;
   margin-left:auto;
   margin-right:auto;
   margin-top: 1em;
}
.containerwide {
   max-width:1400px;
   margin-left:auto;
   margin-right:auto;
   margin-top: 4em;
}







