:root {
   --color-main-light:#d1e6d9;
   --color-main-medium:#89a192;
   --color-main-dark:#3c4f43;

}


body {
   background-color:#e8edea;
   font-family: Avenir Next;
}

.button {
  background-color: var(--color-main-medium);
  border:none;
  color: var( --color-white);
  padding: 10px 16px;
  text-decoration: none;
  font-size: 0.8em;
  margin: 2em;
  margin-bottom: 2em;
  border-radius: 4px;
  text-align: center;
 
}


.smallbutton {
  background-color: var(--color-main-medium);
  border:none;
  color: var( --color-white);
  padding: 5px 10px;
  text-decoration: none;
  font-size: 0.8em;
  margin-top: 2.3em;
  border-radius: 4px;
  text-align: center;
 
}


.smallbutton:hover {
  background-color: var(--color-main-dark);
  border:none;
  color: var( --color-white);
  padding: 5px 10px;
  text-decoration: none;
  font-size: 0.8em;
  margin-top: 2.3em;
  border-radius: 4px;
  text-align: center;
 
}

.filter {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  background-color:#e8edea;
  border:none;
  color: var(--color-main-medium);
  padding: 10px 16px;
  text-decoration: none;
  font-size: 0.8em;
  margin-top: 0em;
  margin-left: 0em;
  margin-bottom: 2em;
  border-radius: 4px;
  text-align: center;
 
}


.filter:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  background-color:var(--color-main-light);
  border:none;
  color: var(--color-main-dark);
  padding: 10px 16px;
  text-decoration: none;
  font-size: 0.8em;
  margin-top: 0em;
  margin-left: 0em;
  margin-bottom: 2em;
  border-radius: 4px;
  text-align: center;
 
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}
.button:hover {
  background-color: var(--color-main-dark);
  color: var( --color-white);
  
}

.bigbutton {
  background-color: var(--color-main-medium);
  border: none;
  color: var( --color-white);
  padding: 5px 100px;
  text-decoration: none;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 2em;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.bigbutton:hover {
  background-color: var(--color-main-dark);
  color: var( --color-white);
}
.borderbutton {
  background-color: none;
  border: 1px solid #3c4f43;
  color: var( --color-main-dark);
  padding: 10px 16px;
  text-decoration: none;
  font-size: 0.8em;
  margin: 2em;
  margin-bottom: 2em;
  border-radius: 4px;
  text-align: center;
}

.borderbutton:hover {
  background-color: var(--color-main-dark);
  color: var( --color-white);
}

.roundbutton{
  background-color: var(--color-main-medium);
  border: none;
  color: var( --color-white);
  padding: 10px 64px;
  text-decoration: none;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 2em;
  border-radius: 4em;
  margin-left: auto;
  margin-right: auto;
}
.roundbutton:hover {
  background-color: var(--color-main-dark);
  color: var( --color-white);
  
}

.darkbutton {
  background-color: var(--color-main-dark);
  border: none;
  color: var( --color-white);
  padding: 10px 64px;
  text-decoration: none;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 2em;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
.darkbutton:hover {
  background-color: var(--color-main-medium);
  color: var( --color-white);
}

.product{
  
    overflow:hidden;
    background-size: cover;
    background-position:center;
    background-attachment:scroll;
    background-repeat: none;
}
.card.top {
   
   height: 40vh;
}
.smallcard {
  padding: 1em;
    font-size: 1em;

}
.card.middle {
  width: 50vw;
  height: 60vh;
}
.card.bottom {
  
   height: 30vh;
}

.card.samll {
  height: 20vh;
  width:  10vw;
}
/*
[class*='col-']>.card{
  height: 100%;
}*/

.view-window1 {
   position:relative;
   overflow:hidden;
   background-size:cover;
   background-position:center;
   background-attachment:scroll;
   height:50vh;
   width: 100vw;
   margin-top: 4em;
   margin-left: auto;
   margin-right: auto;
}

p {
  font-size: 1.5em;
  color: var(--color-main-dark);
  text-align: center;
  font-family: var( --font-serif);

}

.containerbutton {
   max-width:1200px;
   margin-left:auto;
   margin-right:auto;
   margin-top: 1em;
}
.containerwide {
   max-width:1400px;
   margin-left:auto;
   margin-right:auto;
   margin-top: 4em;
}


@media (max-width:750px) {
  .hide{display: none;};

}

/*@media (max-width:750px) {
  .image-change{ background-image: url("img/ad.jpg");}
}*/



/*@media (max-width:750px) {
.text-shrink{
    font-size: 1em;};*/
    


/*
@media (max-width:750px) {
.window-shrink{
  height: 20vh;}
}

*/

.circlelight {
  height: 20px;
  width: 20px;
  background-color: var(--color-main-light);
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}
.circlemedium {
  height: 20px;
  width: 20px;
  background-color: var(--color-main-medium);
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}
.circledark {
  height: 20px;
  width: 20px;
  background-color: var(--color-main-dark);
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}


.neutrallight {
  height: 20px;
  width: 20px;
  background-color: var(--color-neutral-light);
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}
.neutralmedium {
  height: 20px;
  width: 20px;
  background-color: var(--color-neutral-medium);
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}
.neutraldark {
  height: 20px;
  width: 20px;
  background-color: var(--color-neutral-dark);
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}
.white {
  height: 20px;
  width: 20px;
  background-color: var(--color-white);
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}
.black {
  height: 20px;
  width: 20px;
  background-color: var(--color-black);
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

.image-main {
   width:100%;
   height:0;
   position:relative;
   padding-bottom:70%;
}
.image-main img {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   object-fit:cover;
}

.about1 {
  color: #bfbeb2;
  
  font-size: 2em;
  text-align: center;
  line-height: 1.5;
  padding: 5em;
}

.navbar a {
   position:relative;
}
.navbar .badge {
   position:absolute;
   top:5px;
   right:-0.5em;
   font-size:0.6em;
   padding:0.5em;
   border-radius:1em;
   background-color:var(--color-main-dark);
   color:white;
   line-height:1;
   pointer-events:none;
}
.navbar .badge:empty {
   display:none;
}


.nav-toggle label {
   display:none;
}




@media (max-width:1000px) {
   .container {
      padding-left:10px;
      padding-right:10px;
   }
}
@media (max-width:500px) {
   :root {
      --header-height:3rem;
   }

   .navbar .container {
      flex-wrap:wrap;
   }
   .navbar .nav {
      display:none;
   }
   .nav-toggle label {
      display:block;
      padding:0 0.5em;
   }
   #nav-toggle:checked + .navbar .nav {
      display:block;
      width:100%;
   }
   #nav-toggle:checked + .navbar .nav ul {
      display:block;
      line-height: 2;
      padding-bottom: 0.5em;
   }
}









